.inputLine {
  display: inline;
  color: aquamarine;
}

.inputField {
  width: 50%;
}

.createButton {
  border: solid 1px gray;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  background: darkgray;
  font-size: 15px
}
